.card {
    display: flex;
    flex-direction: column;
    background-color: #FAE6FA ;
    border: 1px solid 	#800080;
    border-radius: 10px;
    padding: 25px;
    
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card h1 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-shadow: none;
}

.card p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-shadow: none;
}

.card:hover {
    transform: scale(1.05);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
}