.card {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 10px solid 	#800080;
    border-radius: 10px;
    padding: 25px;
    
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: none;
}

.card:hover {
    transform: scale(1.05);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
}